{% extends "layout.html" %}

{% block main %}
<div class="profile-head">
    <div class="row vh-100">
        <div class="col-xl-6 text-center mx-auto align-self-center ">
            <div class="imgcover mb-4">
                <img src="/static/img.jpg" class="rounded-pill bg-white p-2 shadow" alt="">
            </div>
            <b class="fs-6">Hello everyone! I am,</b>
            <h3 class="fw-bold mb-4 fs-1">John Mark Delima</h3>
            <p>I created this web app for my final project in <b>CS50x Introduction to Computer Science from Harvard
                    University</b>.
                This is the last project I need to do to finish the course and it is fucking hard.</p>
            <p>But through out this course, I have learned a lot about computer science, a lot of frustration, screams
                and yells but i made it.
                And I want to congratulate myself.
            </p>
        </div>
    </div>
</div>
{% endblock %}